

.title-slide {

  p {
    font-size: 220%;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}

#next-meeting {

  h1, p, img {
    font-size: 150%;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  strong {
    font-size: 120%;
    font-style: italic;
    font-weight: bolder;
  }
}

.introduction {

}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
  font-style: italic;
}

p, li {
  font-size: 24px;
}

#giants h1 {
  font-size: 40px;
}

#basic-hello-world h1 {
  font-size: 36px;
}

#pyladies p.tspacer {
  margin-top: 3em;
  font-size: 150%;
}

#pyladies img.rspacer {
  margin-right: 2em;
}

#packages * {
  font-size: 20px;
  line-height: 1em;
}

#packages h1 {
  font-size: 36px;
}

#giants h1 {
  font-size: 36px;
}

#zen h2 {
  font-size: 32px;
}